@{
    ViewBag.Title = "About";
}
<h2>Sobre</h2>
<h3>Como funciona a simulação?</h3>

<p>Vá no menu e selecione turmas, após escolher a ordenação das turmas de sua preferencia, inicie o ano letivo.</p>
<p>Sera nessa tela que ocorrerá a simulação de fato, com um simples clique de um botão transcorre um ano inteiro para nossos alunos.</p>
<p>Você poderá acompanhar o desempenho deles em todas as avaliações, além de verificar no final da pagina a colocação no campeonato final.</p>
