@{
    ViewBag.Title = "Contato";
}
<h2>Meu contato</h2>
<address>
    Rua Garibaldi 133<br />
    Tijuca, RJ 98052-6399<br />
    <abbr title="Phone">P:</abbr>
     2208-7143
</address>

<address>
    <strong>Github:</strong>   <a href="https://github.com/Renan3M">https://github.com/Renan3M</a><br />
    <strong>Email:</strong> <span>renan.machado@hotmail.com.br</span>
</address>